<mat-card>
  <mat-card-title class="title">User Information</mat-card-title>
  <mat-card-content>
    <div class="row">
      <span class="mat-caption">Name: </span> <span class="mat-subtitle">Giorgi Kuprashvili</span>
    </div>
    <div class="row">
      <span class="mat-caption">FB: </span> <span class="mat-subtitle">@Kupraaa</span>
    </div>
    <div class="row">
      <span class="mat-caption">Google: </span>
      <a href="https://google.ge" class="mat-subtitle">https://google.ge</a>
    </div>
  </mat-card-content>
</mat-card>